{% extends 'base.html' %}

{% block title %}Explore | BlogWeb{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Search</h1>
    <form class="d-flex">
        <input class="form-control me-2" type="search" name="query" value="{{ query }}" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    {% if post %}
        <h2 class="mt-4">Search Results</h2>
        <ul class="list-styled">
            {% for p in post %}
            <div class="mb-2">
            <li>{{p.title}}</li>
            <a href="/post/{{p.slug}}">Read</a>
        </div>
            {% empty %}

            <p>No Result Found</p>

            {% endfor %}
        </ul>
    {% endif %}

        <!-- Random Posts Section -->
        <h2 class="mt-4">Posts</h2>
        <div class="row">
            {% if rpost %}
                {% for post in rpost %}
                <!-- Random blog post -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="small text-muted">{{ post.created }}</div>
                            <h3 class="card-title h5">{{ post.title }}</h3>
                            <p class="card-text">{{ post.content|truncatewords:15 }}</p> 
                            <a class="btn btn-primary" href="/post/{{post.slug}}">Read more →</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No random posts available.</p>
            {% endif %}
        </div>
</div>
{% endblock %}