{% extends 'base.html' %}

{% block title %}Login | BlogWeb{% endblock %}

{% block content %}
<style>
    body{
        background-color: #f8f9fa;
    }
</style>
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
          <div class="card border border-dark-subtle rounded-4">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <div class="text-center mb-4">
                        <h2>Sign Up</h2>
                    </div>
                  </div>
                </div>
              </div>
              <form action="/signup/" method="post" autocomplete="off">

                <div class="row gy-3 overflow-hidden">
                    <div class="col-12">
                        <div class="form-floating mb-1">
                          <input type="text" class="form-control" name="username" id="username" placeholder="Your Username" required>
                          <label for="username" class="form-label">Username</label>
                          {% csrf_token %}
                        </div>
                      </div>
                  <div class="col-12">
                    <div class="form-floating mb-1">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                      <label for="email" class="form-label">Email</label>

                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-1">
                      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                      <label for="password" class="form-label">Password</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn bsb-btn-xl btn-primary" type="submit">Sign Up</button>
                    </div>
                  </div>
                  <hr>
                  <p>Already have account ? <a href="/login">Login</a></p>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}