{% extends 'base.html' %}

{% block title %}Your Post | BlogWeb{% endblock %}

{% block content %}

<div class="container">
    <center><h2>Your Posts</h2></center>

    <ol class="list-group list-group-numbered">
        {% for post in posts %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{post.title}}</div>
            <p>Created at : {{post.created}}</p>
            <a href="/editpost/{{post.slug}}" class="btn btn-info">Edit</a>
            <a href="/deletepost/{{post.slug}}" class="btn btn-danger" >Delete</a>
          </div>
          {% empty %}
          <p>No post found</p>
          {% endfor %}
          
        </li>
        
      </ol>
      <div class="mt-4">
        <a class="btn btn-primary" href="/createpost"> + Create Post</a>
      </div>
</div>

{% endblock %}